<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="customSections">
            <section
                name="FileMoverConfigSection"
                type="Configuration.FileMoverConfigSection,Configuration"
            />
        </sectionGroup>
    </configSections>

    <customSections>
        <FileMoverConfigSection>
            <culture name="ru-RU" />

            <directories>
                <directory path="C:\for_m040102\source\fff" />
                <directory path="C:\for_m040102\source\ggg" />
                <directory path="C:\for_m040102\source\hhh" />
            </directories>

            <defaultDirectory path="C:\for_m040102\destination\moderate" />

            <rules>
                <rule
                    fileNamePattern="^.{0,10}$"
                    destinationPath="C:\for_m040102\destination\short"
                />
                <rule
                    fileNamePattern="^.{30,}$"
                    destinationPath="C:\for_m040102\destination\long"
                />
            </rules>
        </FileMoverConfigSection>
    </customSections>

    <startup>
        <supportedRuntime
            version="v4.0"
            sku=".NETFramework,Version=v4.7.1"
        />
    </startup>
</configuration>